doctype html
html(lang='en')
  head

    title  년 mira

    // meta tags
    meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')

    // stylesheets & fonts
    link(rel='stylesheet', type='text/css', href='style.css')

  body

    section

      header
        
        h1  heya ♡ 

        form#search
          input(type='text', placeholder='search')

      main
        div
          h2  /comf/ 
          ul
            li
              a(href='https://kissanime.ru/') kissanime
            li
              a(href='https://gitlab.com/') gitlab
            li
              a(href='https://mail.protonmail.com/inbox/') protonmail
            li
              a(href='https://bandcamp.com') bandcamp

        div
          h2  /lgbt/ 
          ul
            li
              a(href='https://boards.4channel.org/lgbt/') fourchan slash lgbt
            li
              a(href='https://www.inhousepharmacy.vu/') IHP
            li
              a(href='https://kawaiination.com/') kawaii nation dot com
            li
              a(href='https://www.haulliday.com/') hauliday

        div
          h2  idling stufz 
          ul
            li
              a(href='https://lainchan.org/')  lainchan dot org 
            li
              a(href='https://uboachan.net/') uboachan dot net
            li
              a(href='https://www.chess.com/openings/')  chess openings 
            li
              a(href='https://picrew.me/discovery')  picrew 

        br
        br
        br

        img-container
          img(src='img/bicycle.gif')

        // scripts
        script(src='scripts/search.js')
