@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* repeating keyframe animations to put in anything */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@keyframes fadeOut {
	100% {
		opacity: 1;
	}

	0% {
		opacity: 0;
	}

}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@-webkit-keyframes fadeOut {
	100% {
		opacity: 1;
	}

	0% {
		opacity: 0;
	}

}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(-100px);
		transform: translateY(100px);
	}

	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(0px);
	}

}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(-100px);
		transform: translateY(100px);
	}

	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(0px);
	}

}

/* mobile compatibility */
@media screen and (min-width:800px) {
	img-container {
		margin: 1em 2em;
	}

}

::-webkit-scrollbar {
	width: 2px;
	height: 2px
}

::-webkit-scrollbar-track-piece {
	background-color: transparent
}

::-webkit-scrollbar-thumb {
	background-color: #656565;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 0
}

::-webkit-scrollbar-thumb:hover {
	background-color: #909090
}

a {
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 100%;
	padding: 2px;
	text-align: center;
	text-decoration: none;
}

a:hover {
	background-color: lightcoral; /* Green */
	color: #2b2b2b;
}

a:hover::after {
	color: #e5c8ff;
}

a:focus {
	margin: 1px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

body {
	background: #2b2b2b;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 1.05rem;
	text-align: center;
}

container {
	font-size: 1.05rem;
	display: flex;
	flex-wrap: full;
	margin: 10%;
	padding-top: -1.25rem;
}

container:hover {
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

form {
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

form:focus {
	width: 100%;
}

footer {
	border-top: thin double #fffbbc;
	flex-direction: row;
	margin: 1.45rem;
	justify-content: center;
	width: 5.5%;
}

footer-img {
	width: 200px;
  	height: 400px;
  	object-fit: cover;
}

h1 {
	text-decoration: underline;
	text-decoration-color: #fffbbc;
}

h1:hover {
	color:  #94FFF3;
	border-radius: 50%;
	transition: ease 1s;
}

h2 {
	text-decoration: underline;
}

h2:hover {
	color: #94FFF3;
	transition: ease 1s;
}

header {
	padding: 4rem 1rem 1rem;
}

header input {
	border: 0;
	border-radius: 2px;
	font-size: 1rem;
	padding: 0.4rem 1rem;
	width: 6.25%;
}

img {
	border-radius: 2%;
}

img-container {
	animation: slide-top ease 0.5s;
	border-radius: 80%;
	display: flex;
	justify-content: center;
	padding: 12px 12px;
	transition: transform 1.2s;

}

img-container:hover {
	transform: scale(1.05); 
}

input[type=text] {
	background-color: white;
	background-position: 10px 10px;
	border-radius: 4px;
	font-size: 16px;
	transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
	width: 150px;
}

input[type=text]:focus {
	width: 50%;
}

input[type=text]:hover {
	cursor: pointer;
	transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
}

main {
	margin: 0 auto;
	max-width: 1200px;
}

/* The element to apply the animation to */
main a {
	text-decoration: none;
}

main a:hover {
	cursor: pointer;
	text-decoration: underline;
	transition-duration: 0.4s;
}

main div {
	background-repeat: no-repeat;
	border-left: 3px solid #e5c8ff;
	display: inline-block;
	height: 140px;
	margin: 2rem 1.8rem;
	padding-left: 4rem;
	width: 200px;
}

main li {
	text-decoration: none;
}

links a {
	display: inline-block;
	color: #333;
	font-weight: 700;
	transition: color .2s
}

links a:hover {
	text-decoration: underline
}

links a:hover::after {
	color: #9d9488
}

/*
a::after {
	content: "°" 
}
*/

a::before {
	content: "º "
}

main div:nth-child(1) {
	background-image: url("./img/banners/planet.png");
}

main div:nth-child(2) {
	background-image: url("./img/banners/flowers.png");
}

main div:nth-child(3) {
	background-image: url("./img/banners/logs.png");
}

main div:nth-child(4) {
	background-image: url("./img/banners/blossom.png");
}

main div:nth-child(5) {
	background-image: url("./img/banners/malachite.png");
}

main div:nth-child(6) {
	background-image: url("./img/banners/sway.png");
}

main div:nth-child(7) {
	background-image: url("./img/banners/desperation.png");
}

main div:nth-child(8) {
	background-image: url("./img/banners/flowerprint.png");
}

main ul {
	list-style: none;
	margin: 0.6rem;
	padding: 0;
	text-align: left;
}

section {
	animation: fadeIn ease 2s;
}
